* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}
body {
  display: grid;
  height: 100vh;
  max-width: 100%;
  place-content: center;
}
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0px;
  appearance: none;
}
.flex {
  display: flex;
}
.app {
  display: flex;
  gap: 9.6rem;;
}
.section-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#timer {
  color: #323238;
  font-family: Roboto;
  font-size: 6.9rem;
  font-weight: 500;
  
}


.controls {
  display: flex;
  /* margin-top: 1.6rem; */
  gap: 2.5rem;
  padding: 2.2rem 4rem;
}

.controls button {
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  color: #323238;
}
.musics {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria duas colunas */
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.musics button {
  width: 8.6rem;
  height: 9.5rem;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: none; */
  /* background-color: transparent; */
  border: 0;
  cursor: pointer;

  font-size: 3.2rem;

  background-color: #E1E1E6;
  color: #323238;
}
.musics button:hover {
  background-color: #02799D;

}
